.button_group {
    position: absolute;
    right: 10px;
    top: 20px;
    margin: auto;
}
.button {
    height: 40px;
    width: 80px;
    border: 2px solid green;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}
.button_end {
    height: 40px;
    width: 120px;
    background-color: green;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}
.item {
    position: absolute;
    left: 14px;
    top: 6px;
    margin: auto;
    color: green;
}
.item_end {
    position: absolute;
    left: 15px;
    top: 8px;
    margin: auto;
    color: wheat;
}
.main_page {
    margin-top: 75px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.main-hedder {
    font-style: bold;
}
.main_image {
    width: 400px;
}
.main_name {
    color: rgb(144, 142, 146);
}
.text {
    color: cadetblue;
}
.scroll_button {
    position: relative;
    left: 0;
    right: 0;
    top: 2px;
    margin: auto;
    color: chocolate;
    cursor: pointer;
}